trunk/6 Source Code/46_47_48_49_50_ToanLop3/46_47_48_49_50_ToanLop3/Resources/PhepNhan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="PhepTinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Number" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number">
    <xs:complexType>
      <xs:attribute name="Ma" type="xs:int" use="required"/>
      <xs:attribute name="SH1" type="xs:int" use="required"/>
      <xs:attribute name="SH2" type="xs:int" use="required"/>
      <xs:attribute name="KQ" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
