trunk/Project/46_47_48_49_50_ToanLop3/46_47_48_49_50_ToanLop3/Resources/so5chuso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="So5ChuSo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Number" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Number">
    <xs:complexType>
      <xs:attribute name="Code" type="xs:int" use="required"/>
      <xs:attribute name="Text" type="xs:string" use="required"/>
      <xs:attribute name="Integer" type="xs:int" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
